
.name {
  color: blue;
}
#name {
  color: red;
}

.idk {background-color: #000000 ;
color : #ffffff
}

#red{
    color: rgb(255, 0, 0);
}

#green{
    color: rgb(0, 255, 0);
}

#blue {
    color: rgb(0, 0, 255);
}