/* 2 */
.text {
    color: rgb(190, 85, 45);
}


/* 4 */
.box {
    width: 300px;
    height: 150px;
    background-color: #ffd900;
}


/* 5 */
.image {
    width: 50%;
}


/* 6)px-ის გამოყენება არაა კარგი ვინაიდან ის არ ერგება სხვადასხვა ეკრანის ზომას, ამიტომ უმჯობესია გამოვიყენოთ % */