body {
background-color: #eef2f7;
font-family: sans-serif;
text-align: center;
}

 .box1 {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    border: none;
}

.box1:hover {
    background-color: deepskyblue;
}

.box2 {
    background-color: lightgreen;
    padding: 25px;
    border: 3px dashed green;
}

.box2:hover {
    background-color: limegreen;
}

.box3 {
    background-color: lightcoral;
    padding: 15px;
    border: 4px double black;
    margin: 30px;
}
.box3:hover {
    background-color: red;
}