body {
    background-color: lightgray;
    text-align: center;
    font-family: Arial;
}
h1 {
    color: blue;
}
p {
    color: black;
    font-size: 16px;
}
img {
    width: 250px;
}
button {
    background-color: green;
    color: white;
    border: none;
}